<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firebase Node</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css"></link>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container p4">
        <div class="row">
            {{{body}}}
        </div>
    </div>


</body>
</html>
